.bg-body-tertiary {
    background-color: #fc0303 !important;;
    color: #fff;
    .navbar-brand {
        color: #fff;
    }
    .nav-link {
        color: #fff;
    }
      a{
        img{
          width: 30px;
        }
        p{
          color: #fff;
        }
      }
}
